{% extends "layout.html" %}
{% block title %}Services{% endblock %}

{% block counter %}
<span class="pull-right-container">
    {% if content_list %}
      <small class="label label-primary pull-left">{{ content_list[-1]["queue_pos"] }}</small>
    {% endif %}
    <small class="label label-success pull-left">{{ content_list|length }}</small>
</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Content Delivery Queue</h3>
        </div>
       <!-- /.box-header -->
        <div class="box-body">
          <table id="queue_table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-center">UID</th>
                <th class="text-center">Service</th>
                <th class="text-center">ContentID</th>
                <th class="text-center">Creation</th>
                <th class="text-center">Queue</th>
                <th class="text-center">Expiration</th>
                <th class="text-center">Response</th>
              </tr>
            </thead>
            <tbody>
                {% for item in content_list %}
                  {% if item["queue_pos"] != "Ready" %}
                    <tr>
                      <td class="text-center">{{ item["uid"] }}</td>
                      <td class="text-center">{{ item["service"] }}</td>
                      <td class="text-center">{{ item["content_id"].split("#")[-1] }}</td>
                      <td class="text-center">{{ item["date"] }}</td>
                      <td class="text-center">{{ item["queue_pos"] }}</td>
                      <td class="text-center">{{ item["expiration"] }}</td>
                      <td class="text-center">{{ item["content"] }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Content Ready Table</h3>
        </div>
       <!-- /.box-header -->
        <div class="box-body">
          <table id="ready_table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-center">UID</th>
                <th class="text-center">Service</th>
                <th class="text-center">ContentID</th>
                <th class="text-center">Creation</th>
                <th class="text-center">Queue</th>
                <th class="text-center">Expiration</th>
                <th class="text-center">Response</th>
              </tr>
            </thead>
            <tbody>
                {% for item in content_list %}
                  {% if item["queue_pos"] == "Ready" %}
                    <tr>
                      <td class="text-center">{{ item["uid"] }}</td>
                      <td class="text-center">{{ item["service"] }}</td>
                      <td class="text-center">{{ item["content_id"].split("#")[-1] }}</td>
                      <td class="text-center">{{ item["date"] }}</td>
                      <td class="text-center">{{ item["queue_pos"] }}</td>
                      <td class="text-center">{{ item["expiration"] }}</td>
                      {% if item["content_type"] == "url" %}
                        <td class="text-center"><a type="button" href='{{ item["content"] }}' class='{{ item["button_class"] }}' target="_blank">{{ item["status"] }}</a></td>
                      {% else %}
                        <td><button type="button" class='{{ item["button_class"] }}' data-toggle="modal" data-target="#responseModal" data-content='{{ item["content"] }}'>{{ item["status"] }}</button></td>
                      {% endif %}
                    </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="responseModalLabel">Content</h2>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="message-text" rows="5" style="resize: none" readonly></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(function () {
      $('#queue_table').DataTable( {
        "order": [[ 3, "asc" ]]
    } );
      $('#ready_table').DataTable( {
        "order": [[ 3, "asc" ]]
    } );
    })
  </script>

  <script>
    $('#responseModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var content = button.data('content'); // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this);
      modal.find('.modal-body textarea').val(content)
    });
  </script>
{% endblock %}